
*{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
.logo{
  position: absolute;
  top:5px;
  left:5px;
}
.section1{
  position: relative;
  background-color: #FFB20D;
  width: 100%;
  height: 500px;
}
.para1{
  position: absolute;
  top:150px;
  left:100px;
  width: 450px;
  height: 200px;
}
.para1 h1{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  position: relative;
  animation-name: solution;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes solution {
  0%{top:-200px;}
  100%{top:0px;}
}
@keyframes para2 {
0%{transform: rotate(0deg);}
50%{transform: rotate(30deg);}
100%{transform: rotate(0deg);}
}
.para1  a{
  text-decoration: none;
  font-size: 25px;
  color: white;
  height: 30px;
  border-radius: 5px;
  background: black;
  padding: 10px;
  position: relative;
  animation-name: solulink;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes solulink {
  0%{right:-300px;}
  100%{right:0px;}
}
.para1 a:hover{
  background: white;
  color:black;
}
.para2{
  position: absolute;
  right: 270px;
  top:100px;
  animation: para2 2s forwards;
}
.menus{
  position: fixed;
  height: 55px;
  width: 100%;
  background: #FFB20D;
  z-index: 2;
  opacity: 1;
}
.menus img{
  position: absolute;
  left:0;
  top:-25px;
}

.menus ul li{
  float:right;
  display: inline-block;
  list-style: none;
  height: 35px;
}
.menus ul li a{
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 15px;
}
.menus ul li a:hover{
  font-weight: bold;
}
.menus ul .current a{
  color: Black;
  font-weight: bold;
}
.toggle{
  width:100%;
  padding:10px 20px;
  text-align:right;
  box-sizing:border-box;
  display:none;
  color: black;
  }
.section2{
  width:100%;
  height: 500px;
  position: relative;
  background: #BBD631;
}
.section2 .imagee{
  position: absolute;
  top:20px;
  left:30px;
}
.section2 .text{
  position: absolute;
  right:80px;
  top:40px;
  width:600px;
}
.section2 .text span{
  font-size: 80px;
  display: inline-block;
}
.section2 .text h2{
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}
.text a{
  text-decoration: none;
  font-size: 25px;
  color: white;
  height: 30px;
  border-radius: 5px;
  background: black;
  padding: 10px;
}
.text a:hover{
  background: white;
  color:black;
}
.section3{
  position: relative;
  width: 100%;
  height: 600px;
  background: #212121;
}
.section3 .imagee{
  position: absolute;
  right:150px;
  top:70px;
  }
.section3 .text{
  position: absolute;
  top:200px;
  left:100px;
  width:550px;
}
.section3 .text span{
  font-size: 50px;
}
.section3 .text h2{
  font-size: 35px;
  color: #fff;
  margin-bottom: 10px;
}
footer{
	padding:20px;
	background:#FFB20D;
	color:black;
	text-align:center;
  font-weight: bold;
}
@media screen and (max-width:360px)
{
	.toggle{
		display:block;
	}
	ul {
		width:100%;
		display:none;
		background:black;
    text-align: center;
	}
	.menus ul li{
  float: none;
	    display:block;
	    z-index:1;
      padding: 0;
	}
  .menus ul li a{
    color: white;
  }
	.active{
		display:block;
	}
}
