
*{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.logo{
  position: absolute;
  top:5px;
  left:5px;
}
.menus{
  position: fixed;
  height: 55px;
  width: 100%;
  background: #FFB20D;
  z-index: 2;
  opacity: 1;
}
.menus img{
  position: absolute;
  left:0;
  top:-25px;
}
.menus ul li{
  float:right;
  display: inline-block;
  list-style: none;
  height: 35px;
}
.menus ul li a{
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 15px;
}
.menus ul li a:hover{
  font-weight: bold;
}
.menus ul .current a{
  color: Black;
  font-weight: bold;
}
.toggle{
  width:100%;
  padding:10px 20px;
  text-align:right;
  box-sizing:border-box;
  display:none;
  color: black;
  }

  .section1{
    display: flex;
    padding-top: 60px;
    flex-direction: row;
    background:#FFB20D;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .section1 .parts{
    height:400px;
    width:auto;
    text-align: center;
    font-size: 30px;
    color: white;
  }
  .section1 .parts a{
    background: black;
    color: white;
    border-radius: 10px;
    padding:10px;
    padding-top: 5px;
  }
  .section1 .parts a:hover{
    background: white;
    color: black;
  }
@media screen and (max-width:360px){
  .toggle{
    display:block;
  }
  ul {
    width:40%;
    float:right;
    display:none;
    background:black;
    text-align: center;
    padding-bottom: 10px;
  }
  .menus ul li{
      float: none;
      display:block;
      z-index:1;
      padding: 0;
  }
  .menus ul li a{
    color: white;
  }
  .active{
    display:block;
  }
  .section1{
    flex-direction: column;
    justify-content: center;
  }
  .section1 .parts{
    height:350px;
    justify-content: center;
  }
}
